{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": ["eslint-config-airbnb-base", "plugin:prettier/recommended", "plugin:promise/recommended"],
  "plugins": ["promise"],
  "rules": {
    "semi": ["error", "never"],
    "no-console": 0
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }
}
